/* 首页内容的css */
/* banner */
.banner {
    height: 500px;
    background-color: #f5f5f5;
    
}
.banner .wrapper {
    height: 500px;
    background-color: pink;
    overflow: hidden;
    position: relative;
}
.banner .pic {
    display: flex;
    width: 3720px;
}
.subnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0,0,0,0.42);
}
.subnav li {
    height: 50px;
    line-height: 50px;
    /* background-color: pink; */
    padding-left: 30px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.subnav li a {
    font-size: 14px;
    margin-right: 5px;
    color: #fff;
}
.subnav li .classify {
    font-size:16px ;
    margin-right:14px ;
}
.subnav li .iconfont {
    font-size: 14px;
}
.subnav li:hover{
    background-color:#00be9a;
    cursor: pointer;
}
.banner ol {
    position: absolute;
    bottom: 17px;
    right: 16px;
    display:flex;
}
.banner ol li {
    width: 22px;
    height: 22px;
    /* background-color: pink; */
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}
.banner ol i {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    display: block;
    margin: 4px;
}
.banner ol .current {
    background-color: rgba(255,255,255,0.5);
}
.banner ol .current i {
    background-color: #fff;
}
.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 40px;
    height: 42px;
    /* background-color: pink; */
}
.title .left {
    display: flex;
}
.title .left h3 {
    margin-right: 35px;
    font-size: 30px;
}
.title .left p {
    align-self: flex-end;
    color: #a1a1a1;
}
.title .right .more {
    line-height: 42px;
    color: #a1a1a1;
} 
.title .right .more .iconfont {
    margin-left: 10px;
}
.bd ul {
    display:flex;
    justify-content: space-between;
}
.bd li {
    width: 304px;
    height: 404px;
    background-color:#eef9f4;
}
.bd li .pic {
    width: 304px;
    height: 304px;
}
.bd li .txt {
    text-align: center;
    
}
.bd li h4 {
    margin-top: 18px;
    margin-bottom: 9px;
    font-size: 20px;
}
.goods .bd p {
    font-size: 18px;
    color: #aa2113;
}
.goods .bd p span {
    font-size: 22px;
    margin-left: 3px;
}
.recommend .bd li {
    background-color: #fff;
}
.recommend .bd p {
    color:#a1a1a1 ;
}
.brand {
    margin-top: 60px;
    height: 468px;
    background-color:#f5f5f5;
  
}
.brand .wrapper {
    overflow: hidden;
    height: 468px;
    /* background-color: pink; */
}
.brand .title {
    margin-bottom :40px; 
    position: relative;
}
.brand .button {
    position:absolute;
    right: 0;
    bottom: -25px;
    display: flex;
}
.brand .button a {
    margin-left: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.brand .button .prev {
    background-color: #ddd;
}
.brand .button .next {
    background-color: #00be9a;
}
.brand .bd li {
    width: 244px;
    height: 306px;
}