*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.4em;
  height: 1.17333333em;
  line-height: 1.17333333em;
}
header .icon-left {
  font-size: 0.58666667em;
}
header h3 {
  font-size: 0.45333333em;
}
header .note {
  font-size: 0.4em;
  color: #2cb5a5;
}
.banner {
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 0.90666667em;
}
.banner img {
  margin-bottom: 0.48em;
  width: 6.4em;
  height: 5.49333333em;
}
.banner p {
  font-size: 0.42666667em;
}
.banner p span {
  color: #16c2b3;
}
.type {
  padding: 0 0.4em;
}
.type li {
  height: 2.08em;
  border: 1px solid #ededed;
  border-radius: 0.10666667em;
  margin-bottom: 0.13333333em;
  padding: 0 0.4em;
}
.type li a {
  display: flex;
  align-items: center;
  height: 2.08em;
}
.type li a img {
  width: 1.06666667em;
  height: 1.06666667em;
  margin-right: 0.37333333em;
}
.type li .txt {
  flex: 1;
}
.type li .txt h4 {
  font-size: 0.42666667em;
  color: #3c3e42;
  line-height: 0.64em;
}
.type li .txt p {
  font-size: 0.34666667em;
  color: #848484;
  margin-top: 0.13333333em;
}
.type li .iconfont {
  font-size: 0.42666667em;
}
